body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
  }
  
  .frame {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    color: rgb(15, 15, 15);
    transition: opacity 1s, transform 1s;
  }

  .framekecil {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    color: rgb(15, 15, 15);
    transition: opacity 1s, transform 1s;

  }

  /* INI BAGIAN AWAL FRAME COVER */

  .frame-cover {
    background-image: url('1.jpg');;
    animation: zoomIn 2s ease-in-out forwards;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 5% 10%; /* Menggunakan persen untuk padding */
    height: 100vh; /* Pastikan frame memenuhi tinggi viewport */
}

@keyframes zoomIn {
  from {
    background-size: 140vh;
  }
  to {
    background-size: 100vh;
  }
}

.frame-cover h4,
.frame-cover h1,
.frame-cover p {
    margin: 0.1em 0; /* Mengurangi jarak antar elemen teks */
    color: rgb(255, 255, 255); /* Warna font yang konsisten */
}

.frame-cover h4 {
    font-size: 2em; /* Gunakan em untuk ukuran font relatif */
}

.frame-cover h1 {
    font-size: 3em;
}

.frame-cover p {
    font-size: 1em;
}

.frame-cover img {
    display: block; /* Pastikan gambar ditata dengan benar */
    margin: 20px auto; /* Memusatkan gambar */
    max-width: 250px; /* Gambar responsif */
    height: auto;
}

.tombolcover {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.dandiantara {
  position: relative;
  top: 180px;
  bottom: 20%;
}


@media (max-width: 768px) {
    .frame-cover {
        padding: 10% 5%; /* Mengurangi padding pada layar kecil */
    }

    .frame-cover h4 {
        font-size: 1.5em; /* Menyesuaikan ukuran font pada layar kecil */
    }

    .frame-cover h1 {
        font-size: 2.5em;
    }

    .frame-cover p {
        font-size: 1.2em;
    }

    .frame-cover img {
        margin: 10px auto; /* Menyesuaikan margin gambar pada layar kecil */
    }
}

@media (max-width: 480px) {
    .frame-cover h4 {
        font-size: 1.2em; /* Menyesuaikan ukuran font pada layar sangat kecil */
    }

    .frame-cover h1 {
        font-size: 2em;
    }

    .frame-cover p {
        font-size: 1em;
    }
}

/* Gaya tombol */
.btn-dark {
  background-color: rgb(100, 14, 14); /* Warna latar belakang tombol */
  border: none; /* Menghapus border default */
  color: #fff; /* Warna teks tombol */
  padding: 8px 18px; /* Padding tombol */
  font-size: 14px; /* Ukuran font tombol */
  border-radius: 5px; /* Sudut membulat tombol */
  cursor: pointer; /* Menampilkan kursor pointer saat hover */
  transition: background-color 0.3s ease; /* Transisi halus saat hover */
  margin-bottom: 10px;
}

.btn-dark:hover {
  background-color: rgb(185, 156, 87); /* Warna latar belakang saat hover */
}

  /* INI BAGIAN AKHIR FRAME COVER */


  .vector-mempelai{
    width: 280px;
    height: 280px;
  }

  .frame-1 {
    background-image: url('2.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;   
    transform: translateY(100%);
  }

  .frame-1-image-container {
    background-color: #fff;
    border: 4px solid white;
    border-radius: 120px 120px 120px 120px;
    border-color: #fff;
    overflow: hidden;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
    width: 220px;
    height: 350px;
    margin-bottom: 30px;
  }
  .frame-1-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .show-frame1 .frame-cover {
    transform: translateY(-100%);
  }
  .show-frame1 .frame-1 {
    transform: translateY(0);
  }

  .frame-2 {
    background-color: #fff5c9;
    background-image: url('https://959fc8-d7.myshopify.com/cdn/shop/files/gps_generated_ff420d89-1ca6-4ca9-8396-a370d49ab8d3.png?v=1713565042&width=1445');
    color: rgb(255, 255, 255);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  .frame-2 p {
    font-style: italic;
  }
  .frame-2 strong {
    font-style: italic;
  }
  .frame-3 {
    background-color: #000000;
    background-image: url('3.jpeg');
    display: flex;
    color: rgb(255, 255, 255);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  .frame-3 img {
    border-radius: 60px 60px 60px 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 120px;
    height: 180px;
    border: 2px solid white;
  }
  .frame-4 {
    background-color: #fff5c9;
    background-image: url('4a.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    color: rgb(255, 255, 255);
  }
  .frame-4 .countdown, .frame-4 .event {
    background: rgba(255, 255, 255, 0.5);
    color: rgb(17, 17, 17);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
  }
  .frame-4 .countdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(17, 17, 17);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
  }

  .frame-4 .countdown div {
    flex: 1;
    text-align: center;
    font-size: 1.2em;
  }

  .frame-5 {
    background-color: #fff5c9;
    background-image: url('5a.jpg');
    color: rgb(255, 255, 255);
    padding: 50px;
  }
  .frame-5 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .frame-5 .gallery img {
    border: 2px solid white;
    border-radius: 20px ;
    box-shadow: 2px 2px 8px rgba(31, 31, 31, 0.5);
    margin: 5px;
    width: calc(100% - 10px);
  }
  
  .frame-6 {
    background-color: #fff5c9;
    background-image: url('6.jpg');
    color: rgb(255, 255, 255);
    padding: 50px;
  }
  .comment-section {
    margin-top: 20px;
    color: rgb(0, 0, 0);
  }
  .comment {
    background: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
  }
  .frame-7 {
    background-color: #fff5c9;
    background-image: url('1.webp');
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
  }
  .gift-card {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    width: 300px;
  }
  .gift-card-logo-mandiri {
    align-self: flex-start;
    margin-bottom: 20px;
  }
  .gift-card-logo-bri {
    align-self: flex-start;
  }
 

button {
  padding: 10px 20px;
  font-size: 16px;
}

.hidden {
  display: none;
}

.hiddentrans {
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
}

.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

#music-control {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.transisi {
  opacity: 0;
  transition: all 1s ease-in-out;
  /* Menambahkan transisi untuk perubahan ukuran */
  transform: scale(0.5); /* Gambar kecil pada awalnya */
}

.transisi-bawah {
  transform: translateY(10px);
}

.transisi-atas {
  transform: translateY(-10px);
}

.transisi-kanan {
  transform: translateX(10px);
}

.transisi-kiri {
  transform: translateX(-10px);
}

.transisi-zoom-in {
  opacity: 1; /* Opacity penuh pada akhir transisi */
  transform: scale(1); /* Gambar besar pada akhir transisi */
}

.visible {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

footer {
  background-color: rgb(27, 27, 27);
  position: relative;
  padding: 10px;
  width: 100%;
  color: white;
  font-size: 10px;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}
